/* Checkbox css */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-content {
    text-align: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .status-list {
    list-style: none;
    padding: 0;
  }
  
  .status-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    padding: 2px 8% 0;
  }
  
  .checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    appearance: none;
    background: #fff;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: -10px;
  }

  .loading-content.loading_animation {
      max-width: 700px;
  }

  h2.loading_heading_title2 {
    font-size: 22px;
  }

  h4.loading_heading_title4 {
    font-size: 17px;
    font-weight: 500;
  }

  h5.loading_heading_title5 {
      font-size: 18px;
      font-weight: 500;
  }
  
  .checkbox:checked {
    background: #007bff;
    border-color: #007bff;
  }
  
  .checkbox:checked::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: all 0.2s ease;
  }
  
  .checkbox-label {
    font-size: 16px;
    color: #333;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* End Checkbox Css */