.react-datepicker-wrapper{
    width: 100%;
}

.filegenerator--page table tr td ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 13px;
    border-bottom: 1px solid #bdb1b1;
    text-align: left;
    font-size: 16px;
}

p.generator_text {
    font-size: 15px;
}
